.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}
.mySubmit {
    margin-top: 5px;
}
.myButton {
    margin-top: 5px;
}
.success {
    margin: 30px 30px;
    color: coral;
}
.result {
    margin: 30px 50px;
    color: blue;
}
